<h1>Hey what's up kids, come to my amusement park!</h1> 
<img src="https://cdn20.patchcdn.com/users/22848544/20161003/122226/styles/T600x450/public/article_images/14502911_1753912161536690_8818103443019407629_n-1475511383-1672.jpg">


<div><%= link_to "Sign Up", new_user_path%></div>
<div><%= link_to "Sign In", signin_path%></div>
